/* CSS Document */
*{
	margin :0px;
	padding:0px;}
body{
	background:#32526E;
	}
.header p{
    text-align:center;
	font-size:40pt;
	font-weight:bold;	
	float:center;
	color:#4195ED;
	}

.header a{
	float:left;
	margin:10px;
	color:#4195ED;
	text-decoration:none;

	}
.header a:hover{
    color:white;	
	}
.log_in{
    width:100%;
	height:400px;
		
	}
.log_in_container{
	width:40%;
	height:400px;
	
	margin:auto;
	margin-top:50px;
	}
.log_in_container form{
	   width:70%;
        margin:auto;
		padding-top:50px;
	}
.log_in_container form h3{
     text-align:center;
	 margin-bottom:5px;
	 color:#BF356D;	
	}
.log_in_container form input{
	width:98%;
	border:none;
	height:35px;
	margin-bottom:4px;
	border:1px solid black;
	}
.log_in_container form input:hover{
    border:1px solid #0F76F1;	
	}
input[type=submit]:hover
{
	padding:5px;
	border:none;
	background:#C3BEBE;
	color:white;
	cursor:pointer;
	
	
 }
	
	
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: ;
	text-align:center;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: ;
	text-align:center;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: ;
	text-align:center;
}
