/* CSS Document */

* {
    margin: 0px;
    padding: 0px;
}



.header p {
    text-align: center;
    font-size: 40pt;
    font-weight: bold;
}
.main_section{
    width: 100%;
    height: 700px;
    background-color: dodgerblue;
    
}
.main_section_container{
    width: 90%;
    height: auto;
    margin: auto;
    background-color: ;
}
.user_info{
    width: 100%;
    height: 35px;
    background-color:;
    
}
.user_info h2{
      float:left;	
	  
	}
.user_info a{
     float:right;
	 text-decoration:none;
	 color:black;
	}
.user_attendance{
    
    width: 100%;
    height:auto;
    text-align:center;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
	margin-top:10px;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}