/* CSS Document */
*{
 margin:0px;
 padding:0px;	
	}
body{
   background:#27363B;
	}
.header{
    width:100%;
	height:70px;
		
	}
.header_container{
    width:80%;
	height:70px;
	margin:auto;
		
	}
.header_container a{
	float:left;
	text-decoration:none;
	color:#EB4960;
	}
.header_container p{
	margin-top:20px;
    color:#EB4960;
	text-align:center;
	font-size:30pt;
	}
.main{
    width:100%;
	height:400px;
		
	}
.main_container{
    width:400px;
	height:250px;
	margin:auto;
	background:;	
	margin-left:39%;
	text-align:center;
	}

.main_container h2{
   color:hsla(334,100%,45%,1.00);	
	}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 99%;
	margin:auto;
	margin-top:5px;
}

td, th {
    border: 1px solid  #EB4960;
    text-align:left;
    padding: 8px;
	color:white;
	
}
tr{
  	
	}
tr:nth-child(even) {
    background-color: ;
	
}
tr td input,select,button{
    border:none;
	width:80px;	
	height:20px;
	background:none;
	border:.5px solid white;
	color:white;
	 transition:all .1s ease-in-out 0s;
	}
tr td select option{
   color:white;	
   background:#27363B;
  
  
	}
tr td a{
      text-decoration:none;	
	  color: #EB4960;
	}
.submit{
	width:100%;
	height:30px;
	}
.submit:hover{
    
	cursor:pointer;
	background:#EB4960;
	}
.submit:active{
	cursor:pointer;
	font-size:12pt;
	background:white;
	color:black;
	}
